/*index.js*/
.main_screen {
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    margin-top: 50px;
    background: url("./images/background.png");
    animation: bgiLoop 20s linear infinite;
}

@keyframes bgiLoop {
    0% { background-position: 0 0;}
  100% { background-position: 1000px 700px;}
}

.main_screen h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 140px;
    font-family: 'YuMincho +36p Kana'; 
    font-weight: normal;
}

/* StartForm.js */
.start_form {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.start_form .content {
    margin: 0 auto;
}

/* .start_form .content p {
    width: 350px;
    font-size: 30px;
    padding-bottom: 5px;
} */

.start_form input[type="text"] {
    width: 350px;
    height: 50px;
    font-size: 22px;
    background: white;
    padding-left: 10px;
    border: solid 1px #afafaf;
    border-radius: 10px;
}

.start_form input[type="submit"] {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    width: 180px;
    height: 50px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 15px;
}

.start_form .Version_text {
    margin-top: 160px;
    margin-right: 20px;
    text-align: right;
}

/* KeywordForm.js */
.keyword_form {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.keyword_form .content {
    margin: 0 auto;
}

.keyword_form input[type="text"] {
    width: 350px;
    height: 50px;
    font-size: 30px;
    padding-bottom: 5px;
    background: white;
    padding-left: 10px;
    border: solid 1px #afafaf;
    border-radius: 10px;
}

/* .keyword_form input[type="submit"] {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 35px;
    width: 280px;
    height: 80px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 15px;
} */

.keyword_form .inputButton {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    padding: 18px 80px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 15px;
    cursor: pointer;
}

/* WaitingRoom.js */
.waiting_room h1 {
    font-size: 50px;
    padding-top: 40px;
}

.waiting_room ul {
    list-style: none;
    text-align: center;
    font-size: 25px;
    width: 350px;
    margin: 0 auto;
}

.waiting_room ul li {
    padding-top: 40px;
    border-bottom: solid 1px ;
}

.waiting_room .ready_button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 15px;
}

.waiting_room .ready_button.used {
    color: gray;
    pointer-events: none;
}

.waiting_room .leave_button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 15px;
}

/* exchange_page.js */
.exchange_screen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    margin-top: 50px;
    background: url("./images/background.png");
    animation: bgiLoop 20s linear infinite;
}

.exchange_screen h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 80px;
    font-family: 'YuMincho +36p Kana'; 
    font-weight: normal;
}

.exchange_screen .card-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 200px;
}

.exchange_screen .card-container .card {
    cursor: pointer;
    margin: 0 10px;
    margin-top: 10px;
}

.exchange_screen .card-container .card.select {
    transform: translateY(-20px);
}

.exchange_screen div {
    text-align: center;
}

.exchange_screen .exchange_button {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 20px;
    padding: 18px 50px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 40px;
    cursor: pointer;
}

.exchange_screen .exchange_button.used {
    color: gray;
    pointer-events: none;
}

.exchange_screen .decision_button {
    margin: 0 auto;
    font-size: 25px;
    margin-top: 50px;
    padding: 15px 80px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 20px;
    cursor: pointer;
}

/* arrange_page.js */
.arrange_screen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    margin-top: 50px;
    background: url("./images/background.png");
    animation: bgiLoop 20s linear infinite;
}

.arrange_screen h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 80px;
    font-family: 'YuMincho +36p Kana'; 
    font-weight: normal;
}

.arrange_screen .card-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 165px;
}

.arrange_screen .card-container .card {
    cursor: pointer;
    margin: 0 10px;
    margin-top: 20px;
}

.arrange_screen .card-container .card.select {
    pointer-events: none;
    opacity: 0.8;
}

.arrange_screen div {
    text-align: center;
}

.arrange_screen .reset_button {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 25px;
    padding: 13px 35px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 40px;
    cursor: pointer;
}

.arrange_screen .decision_button {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 70px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 20px;
    cursor: pointer;
}

/* wating_page.js */
.waiting_screen {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    margin-top: 50px;
    background: url("./images/background.png");
    animation: bgiLoop 20s linear infinite;
}

.waiting_screen h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 150px;
    font-family: 'YuMincho +36p Kana'; 
    font-weight: normal;
}

.waiting_screen .card-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 200px;
}

.waiting_screen .card-container .card {
    cursor: pointer;
    margin: 0 10px;
    margin-top: 10px;
}

.waiting_screen p {
    font-size: 20px;
    text-align: center;
}

/* game_page.js */
.game_screen h1 {
    padding-top: 100px;
}

.game_screen .card-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 165px;
}

.game_screen .card-container .card {
    margin: 0 10px;
    margin-top: 20px;
}


/* do.js */
.do {
    display: flex;
    flex-direction: column;
}

.do .card-container {
    margin-bottom: 0;
}

.do .open_button {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 25px;
    padding: 15px 40px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 40px;
    cursor: pointer;
}

.do .next_button {
    margin: 0 auto;
    font-size: 22px;
    margin-top: 70px;
    padding: 18px 70px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 40px;
    cursor: pointer;
}
 
/* see.js */

/* result_page.js */
.result_screen {
    display: flex;
    flex-direction: column;
}

.result_screen h1 {
    padding-top: 230px;
}

.result_screen button {
    margin: 0 auto;
    font-size: 20px;
    margin-top:70px;
    padding: 15px 40px;
    text-align: center;
    background: white;
    border: 1px solid #707070;
    border-radius: 40px;
    cursor: pointer;
}
